<template>
  <div>
    <v-row>
      <v-col>
        <v-img
          height="200"
          width="100%"
          class="mb-10"
          :src="landscapeImage"
        />
      </v-col>
    </v-row>
    <v-row
      class="pt-10"
    >
      <v-col
        cols="8"
        lg="6"
        offset-lg="1"
        md="8"
        sm="9"
      >
        <Articles
          :nb-articles-per-page="nbArticlesPerPage"
          :page="page"
          @onPageChange="onPageChange"
        />
      </v-col>
      <v-col
        cols="4"
        lg="5"
        md="4"
        sm="3"
      >
        <Trends />
      </v-col>
    </v-row>
  </div>
</template>

<script>
import Articles from '@/components/Articles'
import Trends from '@/components/Trends'

export default {
  components: {
    Articles,
    Trends
  },
  props: {
    nbArticlesPerPage: {
      type: Number,
      required: true
    },
    category: {
      type: String,
      default: ''
    },
    page: {
      type: Number,
      default: 1
    }
  },
  computed: {
    landscapeImage () {
      let landscape = ''
      const categories = this.$store.state.categories
      for (let i = 0; i < categories.length; i++) {
        const currentCategory = categories[i]
        if (this.$route.params.category.toLowerCase() === currentCategory.title.toLowerCase()) {
          landscape = currentCategory.landscape
        }
      }
      return landscape
    }
  },
  methods: {
    onPageChange (currentPage) {
      this.$router.push({ name: 'articles', params: { page: currentPage, category: this.category } })
    }
  }
}
</script>
