<template>
  <v-container
    fill-height
    class="categories text-center black-dark align-start"
  >
    <v-row>
      <v-col
        class="pr-0 pl-0 mt-7"
        sm="2"
        md="2"
      >
        <v-btn class="btn_all white-light--text">
          All ...
        </v-btn>
      </v-col>
      <v-col
        class="mt-10 black-medium"
        sm="9"
        xs="10"
      >
        <p class="title_categories subtitle-2 grey-light--text text-left pl-0 pb-6 pt-0 mb-0">
          CATEGORIES
        </p>
        <v-row class="mx-0 mt-0 mb-1 pl-0 text-center">
          <v-col
            v-for="category in allCategories"
            :key="category.title"
            class="pa-0 ma-1"
          >
            <Category
              :src="category.src"
              :title="category.title"
            />
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Category from '@/components/Category'

export default {
  components: {
    Category
  },
  computed: {
    allCategories () {
      return this.$store.state.categories
    }
  }
}
</script>

<style>
.btn_all {
  background-color: rgb(255, 255, 255, 0.4) !important;
  backdrop-filter: blur(2px);
}
</style>
