<template>
  <v-container
    fluid
    class="black-dark pa-0"
  >
    <v-row class="ml-0 mt-0 pl-7 pr-7 pb-1 text-center black-medium">
      <v-col
        v-for="category in visibleCategories"
        :key="category.title"
        sm="4"
        md="2"
      >
        <Category
          :src="category.src"
          :title="category.title"
        />
      </v-col>
      <v-col class="text-center pa-0 ma-3 blue-grey darken-4 rounded-lg">
        <router-link to="categories">
          <v-btn
            class="btn-all white-light--text mt-2"
          >
            All ...
          </v-btn>
        </router-link>
      </v-col>
    </v-row>
    <v-row
      class="pt-10"
    >
      <v-col
        cols="8"
        lg="6"
        offset-lg="1"
        md="8"
        sm="9"
      >
        <Articles
          :nb-articles-per-page="nbArticlesPerPage"
          :page="page"
          @onPageChange="onPageChange"
        />
      </v-col>
      <v-col
        cols="4"
        lg="5"
        md="4"
        sm="3"
      >
        <Trends />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Category from '@/components/Category'
import Articles from '@/components/Articles'
import Trends from '@/components/Trends'

export default {
  components: {
    Category,
    Articles,
    Trends
  },
  props: {
    nbArticlesPerPage: {
      type: Number,
      required: true
    },
    page: {
      type: Number,
      default: 1
    }
  },
  computed: {
    visibleCategories () {
      return this.$store.state.categories.slice(0, 5)
    }
  },
  methods: {
    onPageChange (currentPage) {
      this.$router.push({ name: 'home', params: { page: currentPage } })
    }
  }
}
</script>

<style>
.btn-all {
  background-color: rgb(255, 255, 255, 0.4) !important;
  backdrop-filter: blur(2px);
}
</style>
