<template>
  <v-row
    class="article ml-0 pl-7 pb-10"
  >
    <v-col
      sm="12"
      md="12"
    >
      <v-img
        class="rounded-lg mr-6 float-left hidden-sm-and-down"
        height="50"
        width="50"
        position="top"
        :src="icon"
      />
      <v-card
        class="black-medium d-inline-block card"
        width="500"
      >
        <p class="category subtitle-2 text-left pl-2 py-2 mb-0">
          {{ category }}
        </p>
        <v-img
          contain
          max-height="300"
          :src="image"
        />
        <v-card-title class="title body-1 pl-3 mb-4 text-left">
          {{ title }}
        </v-card-title>
        <v-card-text class="text caption pl-3 mb-3 text-left">
          <p class="three-lines mb-0">
            {{ text }}
          </p>
        </v-card-text>
        <v-chip
          v-for="tag in tags"
          :key="tag"
          class="mx-2 mb-4"
          small
        >
          {{ tag }}
        </v-chip>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  props: {
    icon: {
      type: String,
      required: true
    },
    image: {
      type: String,
      required: true
    },
    category: {
      type: String,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    text: {
      type: String,
      required: true
    },
    tags: {
      type: Array,
      default () {
        return []
      }
    }
  }
}
</script>

<style lang="scss">
.article {
  .category {
    color:var(--v-white-light-base) !important;
  }
  .title {
    color:var(--v-white-light-base) !important;
  }
  .text {
    color:var(--v-grey-light-base) !important;

    .three-lines {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      white-space: normal;
    }
  }
}
</style>
