<template>
  <div>
    <Article
      v-for="article in visibleArticles"
      :key="article.title"
      class="black-dark"
      v-bind="article"
    />
    <Pagination
      v-if="pageLength() > 1"
      :page="page"
      :length="pageLength()"
      @onPageChange="onPageChange"
    />
  </div>
</template>

<script>
import Article from '@/components/Article'
import Pagination from '@/components/Pagination'

export default {
  components: {
    Article,
    Pagination
  },
  props: {
    nbArticlesPerPage: {
      type: Number,
      required: true
    },
    category: {
      type: String,
      default: ''
    },
    page: {
      type: Number,
      default: 1
    }
  },
  computed: {
    visibleArticles () {
      const beforePage = this.page - 1
      const articles = []
      for (let i = 0; i < this.nbArticlesPerPage; i++) {
        const currentArticle = this.filteredArticles[beforePage * this.nbArticlesPerPage + i]
        if (currentArticle) {
          articles.push(currentArticle)
        }
      }
      return articles
    },
    filteredArticles () {
      const articles = []
      for (let i = 0; i < this.$store.state.articles.length; i++) {
        const currentArticles = this.$store.state.articles[i]
        // if the category is defined then we filter, otherwise we do not filter
        if (this.category.toLowerCase() === currentArticles.category.toLowerCase() || this.category === '') {
          articles.push(currentArticles)
        }
      }
      return articles
    }
  },
  methods: {
    onPageChange (currentPage) {
      this.$emit('onPageChange', currentPage)
    },
    pageLength () {
      return Math.ceil(this.filteredArticles.length / this.nbArticlesPerPage)
    }
  }
}
</script>
