<template>
  <div
    :style="{ backgroundImage: `url(${src})` }"
    class="category rounded-lg py-2"
  >
    <router-link :to="to">
      <v-btn
        class="title subtitle-2 mx-5"
      >
        {{ title }}
      </v-btn>
    </router-link>
  </div>
</template>

<script>
export default {
  props: {
    src: {
      type: String,
      required: true
    },
    title: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      to: { name: 'articles', params: { category: this.title } }
    }
  }
}
</script>

<style lang="scss" scoped>
$size: 2px;

.category {
  width: 100%;
  border: $size solid transparent;
  background-repeat: repeat;

  &:hover {
    border: $size solid var(--v-orange-light-base);
  }

  .title {
    background-color: rgb(255, 255, 255, 0.4) !important;
    backdrop-filter: blur($size);
    color:var(--v-white-light-base) !important;
    transition: all 3s !important;
    font-family: 'Inter', sans-serif !important;

    &:hover {
      background-color: var(--v-orange-light-base) !important;
      color: var(--v-black-dark-base) !important;
    }
  }
}
</style>
