<template>
  <v-footer
    color="black-dark"
    padless
  >
    <v-row
      justify="center text caption"
      no-gutters
    >
      <p> © {{ new Date().getFullYear() }} Chur. All Rights Reserved.</p>
    </v-row>
  </v-footer>
</template>

<script>
export default {
}
</script>
