<template>
  <div class="text-center black-dark mb-10 ml-10">
    <v-pagination
      v-model="currentPage"
      class="black-dark"
      :length="length"
      :total-visible="5"
      prev-icon="mdi-menu-left"
      next-icon="mdi-menu-right"
      @input="onPageChange"
    />
  </div>
</template>

<script>
export default {
  props: {
    page: {
      type: Number,
      required: true
    },
    length: {
      type: Number,
      required: true
    }
  },
  data () {
    return {
      currentPage: this.page
    }
  },
  methods: {
    onPageChange () {
      this.$emit('onPageChange', this.currentPage)
    }
  }
}
</script>

<style>
/* there is no other option with vuetify */
.theme--dark.v-pagination .v-pagination__item {
  background: var(--v-black-dark-base) !important;
}
/* there is no other option with vuetify */
.theme--dark.v-pagination .v-pagination__navigation {
  background: var(--v-black-dark-base) !important;
}
/* there is no other option with vuetify */
.theme--dark.v-pagination .v-pagination__item--active {
  background: var(--v-orange-light-base) !important;
}
</style>
