<template>
  <v-card
    max-width="300"
    class="black-dark"
    elevation="0"
  >
    <p class="subtitle-2 mb-0 pl-3">
      Trending Topics
    </p>
    <v-container
      fluid
    >
      <v-row dense>
        <v-col
          v-for="trendTag in trendTags"
          :key="trendTag.title"
          :cols="6"
          md="6"
          sm="12"
        >
          <v-card
            class="card black-medium py-2"
            height="140px"
            width="140px"
          >
            <v-img
              class="rounded-circle mx-auto mt-1 align-center"
              :src="$store.getters.getTagImage(trendTag.tag)"
              height="60px"
              width="60px"
            />
            <v-card-title
              class="subtitle-2 pt-1 pb-2 justify-center"
              v-text="trendTag.tag"
            />
            <v-card-text
              class="text caption text-center py-0"
              v-text="trendTag.post + ' post' + (trendTag.post > 1 ? 's': '')"
            />
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>

<script>
export default {
  data: () => ({
    tagsSize: 4
  }),
  computed: {
    trendTags () {
      const tagsOccurence = { ...this.$store.getters.tagsOccurence }
      const bestHashtags = []

      for (let i = 0; i < this.tagsSize; i++) {
        const bestHashtag = this.maxTags(tagsOccurence)
        bestHashtags.push({
          tag: bestHashtag.tag,
          post: bestHashtag.value
        })
        delete tagsOccurence[bestHashtag.tag]
      }

      return bestHashtags
    }
  },
  methods: {
    maxTags (tagsOccurence) {
      const tags = Object.keys(tagsOccurence)
      let tag
      let value = 0

      for (let i = 0; i < tags.length; i++) {
        const currentTag = tags[i]
        const currentValue = tagsOccurence[currentTag]
        if (value < currentValue) {
          value = currentValue
          tag = currentTag
        }
      }

      return {
        tag: tag,
        value: value
      }
    }
  }
}
</script>

<style scoped>

.card:hover {
    background-color: var(--v-black-light-base) !important;
  }
</style>
