<template>
  <v-app>
    <v-app-bar
      app
      class="black-light pl-3"
      fixed
      elevation="0"
    >
      <div class="d-flex align-center">
        <v-img
          src="@/assets/logo.svg"
          width="80"
        />
      </div>
    </v-app-bar>

    <v-main>
      <router-view />
      <Footer />
    </v-main>
  </v-app>
</template>

<script>
import Footer from './components/Footer'

export default {
  name: 'App',

  components: {
    Footer
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
#app {
  font-family: 'Inter', sans-serif;
  background-color: var(--v-black-dark-base) !important;
}
a {
    text-decoration-line: none !important;
}
</style>
